In [30]:
import pandas as pd
import numpy as np
from glob import glob

In [42]:
path = "./data/"
files = sorted(glob(path+"*.csv"))

./data\us_2018_03.csv
./data\us_2018_04.csv
./data\us_2018_05.csv
./data\us_2018_06.csv
./data\us_2018_07.csv
./data\us_2018_08.csv
./data\us_2018_09.csv
./data\us_2018_10.csv
./data\us_2018_11.csv
./data\us_2018_12.csv
./data\us_2019 (1).csv
./data\us_2019 (10).csv
./data\us_2019 (11).csv
./data\us_2019 (12).csv
./data\us_2019 (2).csv
./data\us_2019 (3).csv
./data\us_2019 (4).csv
./data\us_2019 (5).csv
./data\us_2019 (6).csv
./data\us_2019 (7).csv
./data\us_2019 (8).csv
./data\us_2019 (9).csv
./data\us_2020 (1).csv
./data\us_2020 (10).csv
./data\us_2020 (11).csv
./data\us_2020 (12).csv
./data\us_2020 (2).csv
./data\us_2020 (3).csv
./data\us_2020 (4).csv
./data\us_2020 (5).csv
./data\us_2020 (6).csv
./data\us_2020 (7).csv
./data\us_2020 (8).csv
./data\us_2020 (9).csv
./data\us_2021 (1).csv
./data\us_2021 (2).csv
./data\us_2021 (3).csv

In [38]:
us_201803 = pd.read_csv("data/us_2018_03.csv", encoding='euc-kr')
us_201803 = us_201803[['일시', '일조(Sec)']]
us_201803['일시'] = pd.to_datetime(us_201803['일시'])
us_201803 = us_201803.rename(columns={us_201803.columns[1]:'일조'})
us_201803['일조'] = us_201803['일조']/(60*60)
us_fcst = pd.merge(us_201803, us_fcst_, on="일시", how="inner")
us_fcst.head()

                   일시   일조
0 2018-03-02 00:00:00  9.0
1 2018-03-02 01:00:00  0.0
2 2018-03-02 02:00:00  0.0
3 2018-03-02 03:00:00  0.0
4 2018-03-02 04:00:00  0.0

In [56]:
us_fcst_ = pd.DataFrame()
us_fcst_['일시'] = pd.date_range(start="2018-03-02 00:00:00", end='2021-03-01 23:00:00', freq='H')
us_fcst_.head()

                   일시
0 2018-03-02 00:00:00
1 2018-03-02 01:00:00
2 2018-03-02 02:00:00
3 2018-03-02 03:00:00
4 2018-03-02 04:00:00

In [54]:
us_fcst_df = pd.DataFrame()
for i in files:
    us_fcst_month = pd.read_csv(i, encoding='euc-kr')
    us_fcst_month = us_fcst_month[['일시', '일조(Sec)']]
    us_fcst_month['일시'] = pd.to_datetime(us_fcst_month['일시'])
    us_fcst_month = us_fcst_month.rename(columns={us_fcst_month.columns[1]:'일조'})
    us_fcst_month['일조'] = us_fcst_month['일조']/(60*60)
    us_fcst_df = pd.concat([us_fcst_df, us_fcst_month])
us_fcst_df

                       일시         일조
0     2018-03-01 00:01:00   0.000000
1     2018-03-01 00:02:00   0.000000
2     2018-03-01 00:03:00   0.000000
3     2018-03-01 00:04:00   0.000000
4     2018-03-01 00:05:00   0.000000
...                   ...        ...
44635 2021-03-31 23:56:00  10.716667
44636 2021-03-31 23:57:00  10.716667
44637 2021-03-31 23:58:00  10.716667
44638 2021-03-31 23:59:00  10.716667
44639 2021-04-01 00:00:00  10.716667

[1620401 rows x 2 columns]

In [57]:
us_fcst = pd.merge(us_fcst_df, us_fcst_, on="일시", how="inner")
us_fcst

                       일시   일조
0     2018-03-02 00:00:00  9.0
1     2018-03-02 01:00:00  0.0
2     2018-03-02 02:00:00  0.0
3     2018-03-02 03:00:00  0.0
4     2018-03-02 04:00:00  0.0
...                   ...  ...
26258 2021-03-01 19:00:00  0.0
26259 2021-03-01 20:00:00  0.0
26260 2021-03-01 21:00:00  0.0
26261 2021-03-01 22:00:00  0.0
26262 2021-03-01 23:00:00  0.0

[26263 rows x 2 columns]

In [58]:
us_fcst.to_csv('us_sunlight.csv', mode='w', encoding='utf-8-sig', index=False)