In [4]:
import pandas as pd

In [8]:
df = pd.read_csv('test_1/ulsan_obs_energy.csv')
df = df.drop(columns=['지점명', '시간'])
df

       기온(°C)  풍속(m/s)  풍향(16방위)  습도(%)  전운량(10분위)  발전량
0         8.2      3.9     340.0   98.0       10.0    0
1         7.0      4.1     320.0   97.0       10.0    0
2         6.5      5.9     290.0   80.0        NaN    0
3         6.2      4.6     320.0   79.0        3.0    0
4         6.7      4.5     320.0   73.0        1.0    0
...       ...      ...       ...    ...        ...  ...
25627     8.8      2.5     200.0   50.0        5.0    0
25628     8.7      3.9     200.0   49.0        1.0    0
25629     8.4      2.4     230.0   51.0        7.0    0
25630     9.4      3.3     230.0   51.0        8.0    0
25631     9.3      3.1     200.0   56.0        9.0    0

[25632 rows x 6 columns]

In [9]:
df = df[df['발전량'] != 0]
df = df.dropna(axis=0)
df

       기온(°C)  풍속(m/s)  풍향(16방위)  습도(%)  전운량(10분위)  발전량
8         8.9      2.8     230.0   64.0        7.0    4
9         9.7      5.0     250.0   61.0        9.0   35
10        9.6      4.4     290.0   64.0        8.0   71
11       10.5      6.9     290.0   41.0        1.0   82
12       11.2      6.1     290.0   29.0        0.0  334
...       ...      ...       ...    ...        ...  ...
25622    10.9      3.4     140.0   32.0        0.0  294
25623    10.6      3.9     140.0   39.0        0.0  259
25624    11.3      3.2     160.0   33.0        0.0  196
25625    10.3      4.0     180.0   31.0        0.0   83
25626     9.3      3.4     180.0   43.0        0.0    8

[11968 rows x 6 columns]

In [10]:
df.to_csv('ulsan_data_header.csv', mode='w', encoding='utf-8-sig', index=False)