In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import date, timedelta

In [6]:
# 에너지 데이터 가져오기
energy = pd.read_csv("../../data/origin/energy.csv")
energy.head()

                 time  dangjin_floating  dangjin_warehouse  dangjin  ulsan
0  2018-03-01 1:00:00               0.0                0.0        0      0
1  2018-03-01 2:00:00               0.0                0.0        0      0
2  2018-03-01 3:00:00               0.0                0.0        0      0
3  2018-03-01 4:00:00               0.0                0.0        0      0
4  2018-03-01 5:00:00               0.0                0.0        0      0

In [65]:
# 에너지 데이터 일시 속성 to_datetime
energy['time'] = pd.to_datetime(energy['time'], errors='ignore')
energy = energy.rename(columns={energy.columns[0]: 'Forecast_time'})
# energy.iloc[0:25]
energy.head()

        Forecast_time  dangjin_floating  dangjin_warehouse  dangjin  ulsan
0  2018-03-01 1:00:00               0.0                0.0        0      0
1  2018-03-01 2:00:00               0.0                0.0        0      0
2  2018-03-01 3:00:00               0.0                0.0        0      0
3  2018-03-01 4:00:00               0.0                0.0        0      0
4  2018-03-01 5:00:00               0.0                0.0        0      0

In [39]:
# 년도별 마지막 날 구하기
# 2018년, 2019년, 2020년, 2021년 속성을 만들고
# 그 값은 발전량을 넣을 생각.
days = [date(2018, 12, 1), date(2019, 12, 1), date(2020, 12, 1), date(2021, 3, 1)]
last_days = []

for day in days:
    next_month = day.replace(day=28) + timedelta(days=4)
    last_day = next_month - timedelta(days=next_month.day)
    last_day = last_day.strftime("%Y-%m-%d 23:%M")
    last_days.append(last_day)

last_days

['2018-12-31 23:00',
 '2019-12-31 23:00',
 '2020-12-31 23:00',
 '2021-03-31 23:00']

In [42]:
# 2018년 ~ 2021년 속성으로 하는 DF 만들기
energy_years = pd.DataFrame(columns=['2018년', '2019년', '2020년', '2021년'])
energy_years

Empty DataFrame
Columns: [2018년, 2019년, 2020년, 2021년]
Index: []

In [48]:
# 일시 데이터 생성하기
days_2018 = pd.DataFrame()
days_2018['Forecast_time'] = pd.date_range(start='2018-03-01 01:00:00', end=last_days[0], freq='H')
days_2018

           Forecast_time
0    2018-03-01 01:00:00
1    2018-03-01 02:00:00
2    2018-03-01 03:00:00
3    2018-03-01 04:00:00
4    2018-03-01 05:00:00
...                  ...
7338 2018-12-31 19:00:00
7339 2018-12-31 20:00:00
7340 2018-12-31 21:00:00
7341 2018-12-31 22:00:00
7342 2018-12-31 23:00:00

[7343 rows x 1 columns]

In [ ]:
# 일시 데이터와 energy 병합하기 - 각 년도마다의 발전량 저장
energy_2018 = pd.merge(days_2018, energy)
energy_2018

In [ ]:
energy.plot