In [1]:
import pandas as pd
import numpy as np

In [7]:
Health = pd.read_csv("건강검진정보(2017).csv", encoding="euc-kr")
Health.head()

,기준년도,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),...,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증유무,제3대구치(사랑니)이상,치석,데이터공개일자
0,2017,1,1,8,43,170,75,90.0,1.0,1.0,...,40.0,1.0,1.0,1,NaN,NaN,NaN,NaN,1.0,20181126
1,2017,2,1,7,11,180,80,89.0,0.9,1.2,...,27.0,3.0,0.0,1,NaN,NaN,NaN,NaN,2.0,20181126
2,2017,3,1,9,41,165,75,91.0,1.2,1.5,...,68.0,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20181126
3,2017,4,1,11,48,175,80,91.0,1.5,1.2,...,18.0,1.0,0.0,1,NaN,NaN,NaN,NaN,0.0,20181126
4,2017,5,1,11,30,165,60,80.0,1.0,1.2,...,25.0,1.0,0.0,1,NaN,NaN,NaN,NaN,0.0,20181126

In [8]:
Health = Health.drop("기준년도", 1)
Health = Health.drop("가입자일련번호", 1)
Health = Health.drop("데이터공개일자", 1)
Health = Health.drop("시도코드", 1)
Health.head()

,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),청력(우),수축기혈압,...,(혈청지오티)ALT,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증유무,제3대구치(사랑니)이상,치석
0,1,8,170,75,90.0,1.0,1.0,1.0,1.0,120.0,...,35.0,40.0,1.0,1.0,1,NaN,NaN,NaN,NaN,1.0
1,1,7,180,80,89.0,0.9,1.2,1.0,1.0,130.0,...,36.0,27.0,3.0,0.0,1,NaN,NaN,NaN,NaN,2.0
2,1,9,165,75,91.0,1.2,1.5,1.0,1.0,120.0,...,32.0,68.0,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN
3,1,11,175,80,91.0,1.5,1.2,1.0,1.0,145.0,...,34.0,18.0,1.0,0.0,1,NaN,NaN,NaN,NaN,0.0
4,1,11,165,60,80.0,1.0,1.2,1.0,1.0,138.0,...,12.0,25.0,1.0,0.0,1,NaN,NaN,NaN,NaN,0.0

In [37]:
Health['음주여부'] = Health['음주여부'].fillna(0).astype(int)
Health['치아우식증유무'] = Health['치아우식증유무'].fillna(0).astype(int)
Health['결손치유무'] = Health['결손치유무'].fillna(0).astype(int)

Health['치아마모증유무'] = Health['치아마모증유무'].fillna(0).astype(int)
Health['제3대구치(사랑니)이상'] = Health['제3대구치(사랑니)이상'].fillna(0).astype(int)
Health['치석'] = Health['치석'].fillna(0).astype(int)
Health['흡연상태'] = Health['흡연상태'].fillna(0).astype(int)
Health.head()

,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),청력(우),수축기혈압,...,(혈청지오티)ALT,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증유무,제3대구치(사랑니)이상,치석
0,1,8,170,75,90.0,1.0,1.0,1.0,1.0,120.0,...,35.0,40.0,1,1,1,0,0,0,0,1
1,1,7,180,80,89.0,0.9,1.2,1.0,1.0,130.0,...,36.0,27.0,3,0,1,0,0,0,0,2
2,1,9,165,75,91.0,1.2,1.5,1.0,1.0,120.0,...,32.0,68.0,1,0,0,0,0,0,0,0
3,1,11,175,80,91.0,1.5,1.2,1.0,1.0,145.0,...,34.0,18.0,1,0,1,0,0,0,0,0
4,1,11,165,60,80.0,1.0,1.2,1.0,1.0,138.0,...,12.0,25.0,1,0,1,0,0,0,0,0