In [1]:
import pandas as pd
import numpy as np
from glob import glob

In [2]:
# 파일 읽어오기
path = "./data/"
files = sorted(glob(path+"*.csv"))
files

['./data\\dj_2018 (1).csv',
 './data\\dj_2018 (2).csv',
 './data\\dj_2018 (3).csv',
 './data\\dj_2018 (4).csv',
 './data\\dj_2018 (5).csv',
 './data\\dj_2018 (6).csv',
 './data\\dj_2018 (7).csv',
 './data\\dj_2018 (8).csv',
 './data\\dj_2018 (9).csv',
 './data\\dj_2018_ (10).csv',
 './data\\dj_2019 (1).csv',
 './data\\dj_2019 (2).csv',
 './data\\dj_2019 (3).csv',
 './data\\dj_2019 (4).csv',
 './data\\dj_2019 (5).csv',
 './data\\dj_2019 (6).csv',
 './data\\dj_2019 (7).csv',
 './data\\dj_2019 (8).csv',
 './data\\dj_2019 (9).csv',
 './data\\dj_2019_ (10).csv',
 './data\\dj_2019_ (11).csv',
 './data\\dj_2019_ (12).csv',
 './data\\dj_2020 (1).csv',
 './data\\dj_2020 (2).csv',
 './data\\dj_2020 (3).csv',
 './data\\dj_2020 (4).csv',
 './data\\dj_2020 (5).csv',
 './data\\dj_2020 (6).csv',
 './data\\dj_2020 (7).csv',
 './data\\dj_2020 (8).csv',
 './data\\dj_2020 (9).csv',
 './data\\dj_2020_ (10).csv',
 './data\\dj_2020_ (11).csv',
 './data\\dj_2020_ (12).csv',
 './data\\dj_2021 (1).csv',
 './data\\dj_2021 (2).csv',
 './data\\dj_2021 (3).csv']

In [3]:
# 2018-03 ~ 2021-03 까지 데이터 뽑기 (분 데이터)
dj_fcst_df = pd.DataFrame()
for i in files:
    dj_fcst_month = pd.read_csv(i, encoding='euc-kr')
    dj_fcst_month = dj_fcst_month[['일시', '일사(MJ/m^2)', '일조(Sec)']]
    dj_fcst_month['일시'] = pd.to_datetime(dj_fcst_month['일시'])
    dj_fcst_month = dj_fcst_month.rename(columns={dj_fcst_month.columns[1]:'일사', dj_fcst_month.columns[2]:'일조'})
    dj_fcst_month['일조'] = dj_fcst_month['일조']
    dj_fcst_df = pd.concat([dj_fcst_df, dj_fcst_month])
dj_fcst_df

                       일시     일사       일조
0     2018-03-01 00:01:00   0.00      0.0
1     2018-03-01 00:02:00   0.00      0.0
2     2018-03-01 00:03:00   0.00      0.0
3     2018-03-01 00:04:00   0.00      0.0
4     2018-03-01 00:05:00   0.00      0.0
...                   ...    ...      ...
44616 2021-03-31 23:56:00  23.04  39180.0
44617 2021-03-31 23:57:00  23.04  39180.0
44618 2021-03-31 23:58:00  23.04  39180.0
44619 2021-03-31 23:59:00  23.04  39180.0
44620 2021-04-01 00:00:00  23.04  39180.0

[1617481 rows x 3 columns]

In [4]:
#  dj_fcst_df 데이터 새로운 인덱스 주기기
dj_fcst_df.reset_index(drop=True, inplace=True)
dj_fcst_df

                         일시     일사       일조
0       2018-03-01 00:01:00   0.00      0.0
1       2018-03-01 00:02:00   0.00      0.0
2       2018-03-01 00:03:00   0.00      0.0
3       2018-03-01 00:04:00   0.00      0.0
4       2018-03-01 00:05:00   0.00      0.0
...                     ...    ...      ...
1617476 2021-03-31 23:56:00  23.04  39180.0
1617477 2021-03-31 23:57:00  23.04  39180.0
1617478 2021-03-31 23:58:00  23.04  39180.0
1617479 2021-03-31 23:59:00  23.04  39180.0
1617480 2021-04-01 00:00:00  23.04  39180.0

[1617481 rows x 3 columns]

In [5]:
# 일시 데이터 만들기
dj_fcst_ = pd.DataFrame()
dj_fcst_['일시'] = pd.date_range(start="2018-03-01 00:01:00", end='2021-03-31 23:59:00', freq="1min")
# dj_fcst_['test'] = 0
dj_fcst_

                         일시
0       2018-03-01 00:01:00
1       2018-03-01 00:02:00
2       2018-03-01 00:03:00
3       2018-03-01 00:04:00
4       2018-03-01 00:05:00
...                     ...
1622874 2021-03-31 23:55:00
1622875 2021-03-31 23:56:00
1622876 2021-03-31 23:57:00
1622877 2021-03-31 23:58:00
1622878 2021-03-31 23:59:00

[1622879 rows x 1 columns]

In [6]:
# 일시데이터 결측값 확인하기
test = pd.merge(dj_fcst_df, dj_fcst_, how='outer', on="일시")
test

                         일시   일사   일조
0       2018-03-01 00:01:00  0.0  0.0
1       2018-03-01 00:02:00  0.0  0.0
2       2018-03-01 00:03:00  0.0  0.0
3       2018-03-01 00:04:00  0.0  0.0
4       2018-03-01 00:05:00  0.0  0.0
...                     ...  ...  ...
1623154 2021-03-15 11:08:00  NaN  NaN
1623155 2021-03-16 14:22:00  NaN  NaN
1623156 2021-03-16 14:53:00  NaN  NaN
1623157 2021-03-19 15:45:00  NaN  NaN
1623158 2021-03-24 16:21:00  NaN  NaN

[1623159 rows x 3 columns]

In [7]:
# 결측값 갯수 확인 : 총 280개
print(len(test), len(dj_fcst_))
print(len(test)-len(dj_fcst_))

1623159 1622879
280

In [11]:
# 결측값 보간하기
test2 = test.sort_values(by="일시")
test2['일사'] = test2['일사'].interpolate()
test2['일조'] = test2['일조'].interpolate()
test2.loc[1444:]

                         일시     일사       일조
1444    2018-03-02 00:05:00   0.00      0.0
1445    2018-03-02 00:06:00   0.00      0.0
1446    2018-03-02 00:07:00   0.00      0.0
1447    2018-03-02 00:08:00   0.00      0.0
1448    2018-03-02 00:09:00   0.00      0.0
...                     ...    ...      ...
1617476 2021-03-31 23:56:00  23.04  39180.0
1617477 2021-03-31 23:57:00  23.04  39180.0
1617478 2021-03-31 23:58:00  23.04  39180.0
1617479 2021-03-31 23:59:00  23.04  39180.0
1617480 2021-04-01 00:00:00  23.04  39180.0

[1621715 rows x 3 columns]

In [9]:
# 결측값 보간 잘 되었는지 확인
test2.isna().sum().sum()

0

In [118]:
dj_fcst_df_ = test2
dj_fcst_df_

                         일시     일사       일조
0       2018-03-01 00:01:00   0.00      0.0
1       2018-03-01 00:02:00   0.00      0.0
2       2018-03-01 00:03:00   0.00      0.0
3       2018-03-01 00:04:00   0.00      0.0
4       2018-03-01 00:05:00   0.00      0.0
...                     ...    ...      ...
1617476 2021-03-31 23:56:00  23.04  39180.0
1617477 2021-03-31 23:57:00  23.04  39180.0
1617478 2021-03-31 23:58:00  23.04  39180.0
1617479 2021-03-31 23:59:00  23.04  39180.0
1617480 2021-04-01 00:00:00  23.04  39180.0

[1623159 rows x 3 columns]

In [119]:
# 중복 있는지 확인
dj_fcst_df_ = dj_fcst_df_.drop_duplicates(['일시'], keep='first')
print(len(dj_fcst_df_))
dj_fcst_df_

1622880

                         일시     일사       일조
0       2018-03-01 00:01:00   0.00      0.0
1       2018-03-01 00:02:00   0.00      0.0
2       2018-03-01 00:03:00   0.00      0.0
3       2018-03-01 00:04:00   0.00      0.0
4       2018-03-01 00:05:00   0.00      0.0
...                     ...    ...      ...
1617476 2021-03-31 23:56:00  23.04  39180.0
1617477 2021-03-31 23:57:00  23.04  39180.0
1617478 2021-03-31 23:58:00  23.04  39180.0
1617479 2021-03-31 23:59:00  23.04  39180.0
1617480 2021-04-01 00:00:00  23.04  39180.0

[1622880 rows x 3 columns]

In [120]:
#  dj_fcst_df_ 데이터 새로운 인덱스 주기기
dj_fcst_df_.reset_index(drop=True, inplace=True)
dj_fcst_df_

                         일시     일사       일조
0       2018-03-01 00:01:00   0.00      0.0
1       2018-03-01 00:02:00   0.00      0.0
2       2018-03-01 00:03:00   0.00      0.0
3       2018-03-01 00:04:00   0.00      0.0
4       2018-03-01 00:05:00   0.00      0.0
...                     ...    ...      ...
1622875 2021-03-31 23:56:00  23.04  39180.0
1622876 2021-03-31 23:57:00  23.04  39180.0
1622877 2021-03-31 23:58:00  23.04  39180.0
1622878 2021-03-31 23:59:00  23.04  39180.0
1622879 2021-04-01 00:00:00  23.04  39180.0

[1622880 rows x 3 columns]

In [121]:
# dj_fcst_df_ 데이터 to DateTime
dj_fcst_df_['일시'] = pd.to_datetime(dj_fcst_df_['일시'])
dj_fcst_df_['일시'][0].month

<ipython-input-121-2dde355607e3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dj_fcst_df_['일시'] = pd.to_datetime(dj_fcst_df_['일시'])

3

In [122]:
sa = []
jo = []
for i in range(len(dj_fcst_df_)):
    tmp = dj_fcst_df_['일시'].loc[i]
    if(tmp.minute == 1):
        sa_start = dj_fcst_df_['일사'].loc[i]
        jo_start = dj_fcst_df_['일조'].loc[i]
        # print(tmp)
    if(tmp.minute == 00):
        sa_end = dj_fcst_df_['일사'].loc[i]
        jo_end = dj_fcst_df_['일조'].loc[i]
        # print(tmp)
        sa.append(sa_end - sa_start)
        jo.append(jo_end - jo_start)
        # print(jo_end - jo_start)

In [123]:
print("일사:", len(sa))
print("일조:", len(jo))

일사: 27048
일조: 27048

In [124]:
# 일조/일사 데이터프레임 만들기
sa_df = pd.DataFrame({'일사': sa})
jo_df = pd.DataFrame({'일조': jo})
sa_df

        일사
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
...    ...
27043  0.0
27044  0.0
27045  0.0
27046  0.0
27047  0.0

[27048 rows x 1 columns]

In [125]:
# 일시 데이터 만들기, 1시간 기준
dj_fcst_ = pd.DataFrame()
dj_fcst_['일시'] = pd.date_range(start="2018-03-01 00:00:00", end='2021-03-31 23:00:00', freq="H")
dj_fcst_

                       일시
0     2018-03-01 00:00:00
1     2018-03-01 01:00:00
2     2018-03-01 02:00:00
3     2018-03-01 03:00:00
4     2018-03-01 04:00:00
...                   ...
27043 2021-03-31 19:00:00
27044 2021-03-31 20:00:00
27045 2021-03-31 21:00:00
27046 2021-03-31 22:00:00
27047 2021-03-31 23:00:00

[27048 rows x 1 columns]

In [126]:
print(len(dj_fcst_))
print(len(jo))

27048
27048

In [127]:
# 일조 데이터 concat
dj_fcst_ = pd.concat([dj_fcst_, sa_df, jo_df], axis=1)
dj_fcst_

                       일시   일사   일조
0     2018-03-01 00:00:00  0.0  0.0
1     2018-03-01 01:00:00  0.0  0.0
2     2018-03-01 02:00:00  0.0  0.0
3     2018-03-01 03:00:00  0.0  0.0
4     2018-03-01 04:00:00  0.0  0.0
...                   ...  ...  ...
27043 2021-03-31 19:00:00  0.0  0.0
27044 2021-03-31 20:00:00  0.0  0.0
27045 2021-03-31 21:00:00  0.0  0.0
27046 2021-03-31 22:00:00  0.0  0.0
27047 2021-03-31 23:00:00  0.0  0.0

[27048 rows x 3 columns]

In [128]:
dj_fcst_.loc[1000]

일시    2018-04-11 16:00:00
일사                   1.77
일조                   3540
Name: 1000, dtype: object

In [129]:
# 일조 데이터 분 -> 시 로 변경
dj_fcst_['일조'] = dj_fcst_['일조'] / (60*60)
dj_fcst_.loc[1000]

일시    2018-04-11 16:00:00
일사                   1.77
일조               0.983333
Name: 1000, dtype: object

In [130]:
dj_fcst_.loc[1000:]

                       일시    일사        일조
1000  2018-04-11 16:00:00  1.77  0.983333
1001  2018-04-11 17:00:00  0.96  0.983333
1002  2018-04-11 18:00:00  0.21  0.666667
1003  2018-04-11 19:00:00  0.00  0.000000
1004  2018-04-11 20:00:00  0.00  0.000000
...                   ...   ...       ...
27043 2021-03-31 19:00:00  0.00  0.000000
27044 2021-03-31 20:00:00  0.00  0.000000
27045 2021-03-31 21:00:00  0.00  0.000000
27046 2021-03-31 22:00:00  0.00  0.000000
27047 2021-03-31 23:00:00  0.00  0.000000

[26048 rows x 3 columns]

In [131]:
dj_fcst_.to_csv('dj_sunlight.csv', mode='w', encoding='utf-8-sig', index=False)