In [1]:
import pandas as pd

In [14]:
dj_data = pd.read_csv("./data/dj_2018_03.csv", encoding="euc-kr")
dj_data.head()

,지점,일시,기온(°C),누적강수량(mm),풍향(deg),풍속(m/s),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(Sec)
0,152,2018-03-01 00:01,8.2,0.0,347.8,3.8,982.2,992.1,97.9,NaN,0
1,152,2018-03-01 00:02,8.2,0.0,346.4,3.1,982.1,992.0,97.9,NaN,0
2,152,2018-03-01 00:03,8.1,0.0,341.2,2.7,982.1,992.0,97.9,NaN,0
3,152,2018-03-01 00:04,8.1,0.0,356.9,4.6,982.1,992.0,97.9,NaN,0
4,152,2018-03-01 00:05,8.1,0.0,351.1,4.3,982.1,992.0,97.9,NaN,0

In [25]:
print(dj_data.loc[0]["일시"])
print(dj_data.loc[1439]["일시"])

2018-03-01 00:01
2018-03-02 00:00

In [32]:
dj_data["일시"].count
len(dj_data)

44635

In [47]:
dj_data = dj_data.rename(columns={dj_data.columns[9]:"일사", dj_data.columns[10]:"일조"})
dj_data.head()

,지점,일시,기온(°C),누적강수량(mm),풍향(deg),풍속(m/s),현지기압(hPa),해면기압(hPa),습도(%),일사,일조
0,152,2018-03-01 00:01,8.2,0.0,347.8,3.8,982.2,992.1,97.9,NaN,0
1,152,2018-03-01 00:02,8.2,0.0,346.4,3.1,982.1,992.0,97.9,NaN,0
2,152,2018-03-01 00:03,8.1,0.0,341.2,2.7,982.1,992.0,97.9,NaN,0
3,152,2018-03-01 00:04,8.1,0.0,356.9,4.6,982.1,992.0,97.9,NaN,0
4,152,2018-03-01 00:05,8.1,0.0,351.1,4.3,982.1,992.0,97.9,NaN,0

In [48]:
dj_data.loc[0]

지점                        152
일시           2018-03-01 00:01
기온(°C)                    8.2
누적강수량(mm)                   0
풍향(deg)                 347.8
풍속(m/s)                   3.8
현지기압(hPa)               982.2
해면기압(hPa)               992.1
습도(%)                    97.9
일사                        NaN
일조                          0
Name: 0, dtype: object

In [187]:
jo = []
for i in range(len(dj_data)-1):
    tmp = dj_data['일시'].loc[i]
    if(tmp.minute == 1):
        jo_start = dj_data['일조'].loc[i]
    if(tmp.minute == 58):
        jo_end = dj_data['일조'].loc[i]
        jo.append(jo_end - jo_start)

In [188]:
print(len(jo))

744

In [189]:
jo_df = pd.DataFrame({'일조': jo})
jo_df

     일조
0     0
1     0
2     0
3     0
4     0
..   ..
739   0
740   0
741   0
742   0
743   0

[744 rows x 1 columns]

In [190]:
dj_03 = pd.DataFrame()
dj_03['Forecast_time'] = pd.date_range(start='2018-03-01 00:00:00', end='2018-03-31 23:00:00', freq='H')
dj_03

          Forecast_time
0   2018-03-01 00:00:00
1   2018-03-01 01:00:00
2   2018-03-01 02:00:00
3   2018-03-01 03:00:00
4   2018-03-01 04:00:00
..                  ...
739 2018-03-31 19:00:00
740 2018-03-31 20:00:00
741 2018-03-31 21:00:00
742 2018-03-31 22:00:00
743 2018-03-31 23:00:00

[744 rows x 1 columns]

In [192]:
dj_03_df = pd.concat([dj_03, jo_df], axis=1)
dj_03_df

          Forecast_time  일조
0   2018-03-01 00:00:00   0
1   2018-03-01 01:00:00   0
2   2018-03-01 02:00:00   0
3   2018-03-01 03:00:00   0
4   2018-03-01 04:00:00   0
..                  ...  ..
739 2018-03-31 19:00:00   0
740 2018-03-31 20:00:00   0
741 2018-03-31 21:00:00   0
742 2018-03-31 22:00:00   0
743 2018-03-31 23:00:00   0

[744 rows x 2 columns]