In [1]:
import pandas as pd
import numpy as np
from glob import glob

In [2]:
# 파일 읽어오기
path = "./us_data/"
files = sorted(glob(path+"*.csv"))
files

['./us_data\\us_2018_03.csv',
 './us_data\\us_2018_04.csv',
 './us_data\\us_2018_05.csv',
 './us_data\\us_2018_06.csv',
 './us_data\\us_2018_07.csv',
 './us_data\\us_2018_08.csv',
 './us_data\\us_2018_09.csv',
 './us_data\\us_2018_10.csv',
 './us_data\\us_2018_11.csv',
 './us_data\\us_2018_12.csv',
 './us_data\\us_2019 (1).csv',
 './us_data\\us_2019 (10).csv',
 './us_data\\us_2019 (11).csv',
 './us_data\\us_2019 (12).csv',
 './us_data\\us_2019 (2).csv',
 './us_data\\us_2019 (3).csv',
 './us_data\\us_2019 (4).csv',
 './us_data\\us_2019 (5).csv',
 './us_data\\us_2019 (6).csv',
 './us_data\\us_2019 (7).csv',
 './us_data\\us_2019 (8).csv',
 './us_data\\us_2019 (9).csv',
 './us_data\\us_2020 (1).csv',
 './us_data\\us_2020 (10).csv',
 './us_data\\us_2020 (11).csv',
 './us_data\\us_2020 (12).csv',
 './us_data\\us_2020 (2).csv',
 './us_data\\us_2020 (3).csv',
 './us_data\\us_2020 (4).csv',
 './us_data\\us_2020 (5).csv',
 './us_data\\us_2020 (6).csv',
 './us_data\\us_2020 (7).csv',
 './us_data\\us_2020 (8).csv',
 './us_data\\us_2020 (9).csv',
 './us_data\\us_2021 (1).csv',
 './us_data\\us_2021 (2).csv',
 './us_data\\us_2021 (3).csv']

In [33]:
# 2018-03 ~ 2021-03 까지 데이터 뽑기 (분 데이터)
us_fcst_df = pd.DataFrame()
for i in files:
    us_fcst_month = pd.read_csv(i, encoding='euc-kr')
    us_fcst_month = us_fcst_month[['일시', '일사(MJ/m^2)', '일조(Sec)']]
    us_fcst_month['일시'] = pd.to_datetime(us_fcst_month['일시'])
    us_fcst_month = us_fcst_month.fillna(0) # NAN 값 0으로 변경
    us_fcst_month = us_fcst_month.rename(columns={us_fcst_month.columns[1]:'일사', us_fcst_month.columns[2]:'일조'})
    us_fcst_month['일조'] = us_fcst_month['일조']
    us_fcst_df = pd.concat([us_fcst_df, us_fcst_month])
us_fcst_df

                       일시   일사       일조
0     2018-03-01 00:01:00  0.0      0.0
1     2018-03-01 00:02:00  0.0      0.0
2     2018-03-01 00:03:00  0.0      0.0
3     2018-03-01 00:04:00  0.0      0.0
4     2018-03-01 00:05:00  0.0      0.0
...                   ...  ...      ...
44635 2021-03-31 23:56:00  0.0  38580.0
44636 2021-03-31 23:57:00  0.0  38580.0
44637 2021-03-31 23:58:00  0.0  38580.0
44638 2021-03-31 23:59:00  0.0  38580.0
44639 2021-04-01 00:00:00  0.0  38580.0

[1620401 rows x 3 columns]

In [34]:
#  us_fcst_df 데이터 새로운 인덱스 주기기
us_fcst_df.reset_index(drop=True, inplace=True)
us_fcst_df

                         일시   일사       일조
0       2018-03-01 00:01:00  0.0      0.0
1       2018-03-01 00:02:00  0.0      0.0
2       2018-03-01 00:03:00  0.0      0.0
3       2018-03-01 00:04:00  0.0      0.0
4       2018-03-01 00:05:00  0.0      0.0
...                     ...  ...      ...
1620396 2021-03-31 23:56:00  0.0  38580.0
1620397 2021-03-31 23:57:00  0.0  38580.0
1620398 2021-03-31 23:58:00  0.0  38580.0
1620399 2021-03-31 23:59:00  0.0  38580.0
1620400 2021-04-01 00:00:00  0.0  38580.0

[1620401 rows x 3 columns]

In [35]:
# 일시 데이터 만들기
us_fcst_ = pd.DataFrame()
us_fcst_['일시'] = pd.date_range(start="2018-03-01 00:01:00", end='2021-03-31 23:59:00', freq="1min")
us_fcst_

                         일시
0       2018-03-01 00:01:00
1       2018-03-01 00:02:00
2       2018-03-01 00:03:00
3       2018-03-01 00:04:00
4       2018-03-01 00:05:00
...                     ...
1622874 2021-03-31 23:55:00
1622875 2021-03-31 23:56:00
1622876 2021-03-31 23:57:00
1622877 2021-03-31 23:58:00
1622878 2021-03-31 23:59:00

[1622879 rows x 1 columns]

In [41]:
# 일시데이터 결측값 확인하기
test = pd.merge(us_fcst_df, us_fcst_, how='outer', on="일시")
test

                         일시   일사   일조
0       2018-03-01 00:01:00  0.0  0.0
1       2018-03-01 00:02:00  0.0  0.0
2       2018-03-01 00:03:00  0.0  0.0
3       2018-03-01 00:04:00  0.0  0.0
4       2018-03-01 00:05:00  0.0  0.0
...                     ...  ...  ...
1623155 2020-12-31 23:56:00  NaN  NaN
1623156 2020-12-31 23:57:00  NaN  NaN
1623157 2020-12-31 23:58:00  NaN  NaN
1623158 2020-12-31 23:59:00  NaN  NaN
1623159 2021-01-01 00:00:00  NaN  NaN

[1623160 rows x 3 columns]

In [42]:
# 결측값 갯수 확인 : 총 280개
print(len(test), len(us_fcst_))
print(len(test)-len(us_fcst_))

1623160 1622879
281

In [43]:
# 결측값 보간하기
test2 = test.sort_values(by="일시")
test2['일사'] = test2['일사'].interpolate()
test2['일조'] = test2['일조'].interpolate()
test2

                         일시   일사       일조
0       2018-03-01 00:01:00  0.0      0.0
1       2018-03-01 00:02:00  0.0      0.0
2       2018-03-01 00:03:00  0.0      0.0
3       2018-03-01 00:04:00  0.0      0.0
4       2018-03-01 00:05:00  0.0      0.0
...                     ...  ...      ...
1620396 2021-03-31 23:56:00  0.0  38580.0
1620397 2021-03-31 23:57:00  0.0  38580.0
1620398 2021-03-31 23:58:00  0.0  38580.0
1620399 2021-03-31 23:59:00  0.0  38580.0
1620400 2021-04-01 00:00:00  0.0  38580.0

[1623160 rows x 3 columns]

In [44]:
# 결측값 보간 잘 되었는지 확인
test2.isna().sum().sum()

0

In [46]:
# temp 값 넣기
us_fcst_df_ = test2
us_fcst_df_

                         일시   일사       일조
0       2018-03-01 00:01:00  0.0      0.0
1       2018-03-01 00:02:00  0.0      0.0
2       2018-03-01 00:03:00  0.0      0.0
3       2018-03-01 00:04:00  0.0      0.0
4       2018-03-01 00:05:00  0.0      0.0
...                     ...  ...      ...
1620396 2021-03-31 23:56:00  0.0  38580.0
1620397 2021-03-31 23:57:00  0.0  38580.0
1620398 2021-03-31 23:58:00  0.0  38580.0
1620399 2021-03-31 23:59:00  0.0  38580.0
1620400 2021-04-01 00:00:00  0.0  38580.0

[1623160 rows x 3 columns]

In [47]:
# 중복 있는지 확인
us_fcst_df_ = us_fcst_df_.drop_duplicates(['일시'], keep='first')
print(len(us_fcst_df_))
us_fcst_df_

1622880

                         일시   일사       일조
0       2018-03-01 00:01:00  0.0      0.0
1       2018-03-01 00:02:00  0.0      0.0
2       2018-03-01 00:03:00  0.0      0.0
3       2018-03-01 00:04:00  0.0      0.0
4       2018-03-01 00:05:00  0.0      0.0
...                     ...  ...      ...
1620396 2021-03-31 23:56:00  0.0  38580.0
1620397 2021-03-31 23:57:00  0.0  38580.0
1620398 2021-03-31 23:58:00  0.0  38580.0
1620399 2021-03-31 23:59:00  0.0  38580.0
1620400 2021-04-01 00:00:00  0.0  38580.0

[1622880 rows x 3 columns]

In [48]:
#  us_fcst_df_ 데이터 새로운 인덱스 주기기
us_fcst_df_.reset_index(drop=True, inplace=True)
us_fcst_df_

                         일시   일사       일조
0       2018-03-01 00:01:00  0.0      0.0
1       2018-03-01 00:02:00  0.0      0.0
2       2018-03-01 00:03:00  0.0      0.0
3       2018-03-01 00:04:00  0.0      0.0
4       2018-03-01 00:05:00  0.0      0.0
...                     ...  ...      ...
1622875 2021-03-31 23:56:00  0.0  38580.0
1622876 2021-03-31 23:57:00  0.0  38580.0
1622877 2021-03-31 23:58:00  0.0  38580.0
1622878 2021-03-31 23:59:00  0.0  38580.0
1622879 2021-04-01 00:00:00  0.0  38580.0

[1622880 rows x 3 columns]

In [49]:
# us_fcst_df_ 데이터 to DateTime
us_fcst_df_['일시'] = pd.to_datetime(us_fcst_df_['일시'])
us_fcst_df_['일시'][0].month

<ipython-input-49-dda30e232924>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_fcst_df_['일시'] = pd.to_datetime(us_fcst_df_['일시'])

3

In [50]:
# 일시, 일조 차량 구하기
sa = []
jo = []
for i in range(len(us_fcst_df_)):
    tmp = us_fcst_df_['일시'].loc[i]
    if(tmp.minute == 1):
        sa_start = us_fcst_df_['일사'].loc[i]
        jo_start = us_fcst_df_['일조'].loc[i]
        # print(tmp)
    if(tmp.minute == 00):
        sa_end = us_fcst_df_['일사'].loc[i]
        jo_end = us_fcst_df_['일조'].loc[i]
        # print(tmp)
        sa.append(sa_end - sa_start)
        jo.append(jo_end - jo_start)
        # print(jo_end - jo_start)

In [51]:
print("일사:", len(sa))
print("일조:", len(jo))

일사: 27048
일조: 27048

In [52]:
# 일조/일사 데이터프레임 만들기
sa_df = pd.DataFrame({'일사': sa})
jo_df = pd.DataFrame({'일조': jo})
sa_df

        일사
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
...    ...
27043  0.0
27044  0.0
27045  0.0
27046  0.0
27047  0.0

[27048 rows x 1 columns]

In [53]:
# 일시 데이터 만들기, 1시간 기준
us_fcst_ = pd.DataFrame()
us_fcst_['일시'] = pd.date_range(start="2018-03-01 00:00:00", end='2021-03-31 23:00:00', freq="H")
us_fcst_

                       일시
0     2018-03-01 00:00:00
1     2018-03-01 01:00:00
2     2018-03-01 02:00:00
3     2018-03-01 03:00:00
4     2018-03-01 04:00:00
...                   ...
27043 2021-03-31 19:00:00
27044 2021-03-31 20:00:00
27045 2021-03-31 21:00:00
27046 2021-03-31 22:00:00
27047 2021-03-31 23:00:00

[27048 rows x 1 columns]

In [54]:
print(len(us_fcst_))
print(len(jo))

27048
27048

In [55]:
# 일조 데이터 concat
us_fcst_ = pd.concat([us_fcst_, sa_df, jo_df], axis=1)
us_fcst_

                       일시   일사   일조
0     2018-03-01 00:00:00  0.0  0.0
1     2018-03-01 01:00:00  0.0  0.0
2     2018-03-01 02:00:00  0.0  0.0
3     2018-03-01 03:00:00  0.0  0.0
4     2018-03-01 04:00:00  0.0  0.0
...                   ...  ...  ...
27043 2021-03-31 19:00:00  0.0  0.0
27044 2021-03-31 20:00:00  0.0  0.0
27045 2021-03-31 21:00:00  0.0  0.0
27046 2021-03-31 22:00:00  0.0  0.0
27047 2021-03-31 23:00:00  0.0  0.0

[27048 rows x 3 columns]

In [56]:
us_fcst_.loc[1000]

일시    2018-04-11 16:00:00
일사                      0
일조                   3540
Name: 1000, dtype: object

In [57]:
# 일조 데이터 분 -> 시 로 변경
us_fcst_['일조'] = us_fcst_['일조'] / (60*60)
us_fcst_.loc[1000]

일시    2018-04-11 16:00:00
일사                      0
일조               0.983333
Name: 1000, dtype: object

In [66]:
us_fcst_.loc[3300:]

                       일시   일사        일조
3300  2018-07-16 12:00:00  0.0  0.983333
3301  2018-07-16 13:00:00  0.0  0.983333
3302  2018-07-16 14:00:00  0.0  0.950000
3303  2018-07-16 15:00:00  0.0  0.966667
3304  2018-07-16 16:00:00  0.0  0.983333
...                   ...  ...       ...
27043 2021-03-31 19:00:00  0.0  0.000000
27044 2021-03-31 20:00:00  0.0  0.000000
27045 2021-03-31 21:00:00  0.0  0.000000
27046 2021-03-31 22:00:00  0.0  0.000000
27047 2021-03-31 23:00:00  0.0  0.000000

[23748 rows x 3 columns]

In [67]:
us_fcst_.to_csv('us_sunlight.csv', mode='w', encoding='utf-8-sig', index=False)