In [1]:
import pandas as pd

In [5]:
us_data = pd.read_csv("./us_data/us_2018_03.csv", encoding="euc-kr")
us_data.head()

,지점,일시,기온(°C),누적강수량(mm),풍향(deg),풍속(m/s),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(Sec)
0,152,2018-03-01 00:01,8.2,0.0,347.8,3.8,982.2,992.1,97.9,NaN,0
1,152,2018-03-01 00:02,8.2,0.0,346.4,3.1,982.1,992.0,97.9,NaN,0
2,152,2018-03-01 00:03,8.1,0.0,341.2,2.7,982.1,992.0,97.9,NaN,0
3,152,2018-03-01 00:04,8.1,0.0,356.9,4.6,982.1,992.0,97.9,NaN,0
4,152,2018-03-01 00:05,8.1,0.0,351.1,4.3,982.1,992.0,97.9,NaN,0

In [6]:
print(us_data.loc[0]["일시"])
print(us_data.loc[1439]["일시"])

2018-03-01 00:01
2018-03-02 00:00

In [7]:
us_data["일시"].count
len(dj_data)

44635

In [8]:
us_data = us_data.rename(columns={us_data.columns[9]:"일사", us_data.columns[10]:"일조"})
us_data.head()

,지점,일시,기온(°C),누적강수량(mm),풍향(deg),풍속(m/s),현지기압(hPa),해면기압(hPa),습도(%),일사,일조
0,152,2018-03-01 00:01,8.2,0.0,347.8,3.8,982.2,992.1,97.9,NaN,0
1,152,2018-03-01 00:02,8.2,0.0,346.4,3.1,982.1,992.0,97.9,NaN,0
2,152,2018-03-01 00:03,8.1,0.0,341.2,2.7,982.1,992.0,97.9,NaN,0
3,152,2018-03-01 00:04,8.1,0.0,356.9,4.6,982.1,992.0,97.9,NaN,0
4,152,2018-03-01 00:05,8.1,0.0,351.1,4.3,982.1,992.0,97.9,NaN,0

In [9]:
us_data.loc[0]

지점                        152
일시           2018-03-01 00:01
기온(°C)                    8.2
누적강수량(mm)                   0
풍향(deg)                 347.8
풍속(m/s)                   3.8
현지기압(hPa)               982.2
해면기압(hPa)               992.1
습도(%)                    97.9
일사                        NaN
일조                          0
Name: 0, dtype: object

In [12]:
us_data['일시'] = pd.to_datetime(us_data['일시'])
us_data

,지점,일시,기온(°C),누적강수량(mm),풍향(deg),풍속(m/s),현지기압(hPa),해면기압(hPa),습도(%),일사,일조
0,152,2018-03-01 00:01:00,8.2,0.0,347.8,3.8,982.2,992.1,97.9,NaN,0
1,152,2018-03-01 00:02:00,8.2,0.0,346.4,3.1,982.1,992.0,97.9,NaN,0
2,152,2018-03-01 00:03:00,8.1,0.0,341.2,2.7,982.1,992.0,97.9,NaN,0
3,152,2018-03-01 00:04:00,8.1,0.0,356.9,4.6,982.1,992.0,97.9,NaN,0
4,152,2018-03-01 00:05:00,8.1,0.0,351.1,4.3,982.1,992.0,97.9,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
44630,152,2018-03-31 23:56:00,14.7,0.0,233.1,0.9,1007.7,1017.6,45.8,NaN,37260
44631,152,2018-03-31 23:57:00,14.6,0.0,221.0,1.0,1007.7,1017.6,46.0,NaN,37260
44632,152,2018-03-31 23:58:00,14.6,0.0,242.3,0.9,1007.7,1017.6,46.4,NaN,37260
44633,152,2018-03-31 23:59:00,14.6,0.0,249.1,0.9,1007.7,1017.6,46.2,NaN,37260
44634,152,2018-04-01 00:00:00,14.8,0.0,241.6,0.4,1007.7,1017.6,46.2,NaN,37260

In [13]:
jo = []
for i in range(len(us_data)-1):
    tmp = us_data['일시'].loc[i]
    if(tmp.minute == 1):
        jo_start = us_data['일조'].loc[i]
    if(tmp.minute == 58):
        jo_end = us_data['일조'].loc[i]
        jo.append(jo_end - jo_start)

In [14]:
print(len(jo))

744

In [15]:
jo_df = pd.DataFrame({'일조': jo})
jo_df

     일조
0     0
1     0
2     0
3     0
4     0
..   ..
739   0
740   0
741   0
742   0
743   0

[744 rows x 1 columns]

In [16]:
us_03 = pd.DataFrame()
us_03['Forecast_time'] = pd.date_range(start='2018-03-01 00:00:00', end='2018-03-31 23:00:00', freq='H')
us_03

          Forecast_time
0   2018-03-01 00:00:00
1   2018-03-01 01:00:00
2   2018-03-01 02:00:00
3   2018-03-01 03:00:00
4   2018-03-01 04:00:00
..                  ...
739 2018-03-31 19:00:00
740 2018-03-31 20:00:00
741 2018-03-31 21:00:00
742 2018-03-31 22:00:00
743 2018-03-31 23:00:00

[744 rows x 1 columns]

In [17]:
us_03_df = pd.concat([us_03, jo_df], axis=1)
us_03_df

          Forecast_time  일조
0   2018-03-01 00:00:00   0
1   2018-03-01 01:00:00   0
2   2018-03-01 02:00:00   0
3   2018-03-01 03:00:00   0
4   2018-03-01 04:00:00   0
..                  ...  ..
739 2018-03-31 19:00:00   0
740 2018-03-31 20:00:00   0
741 2018-03-31 21:00:00   0
742 2018-03-31 22:00:00   0
743 2018-03-31 23:00:00   0

[744 rows x 2 columns]