In [1]:
import pandas as pd

In [5]:
# 당진시 데이터
dj_fcst = pd.read_csv("./dangjin_fcst_data.csv")
dj_sun = pd.read_csv("./dj_sunlight.csv")
dj_fcst

,Forecast time,forecast,Temperature,Humidity,WindSpeed,WindDirection,Cloud
0,2018-03-01 11:00:00,4.0,0.0,60.0,7.3,309.0,2.0
1,2018-03-01 11:00:00,7.0,-2.0,60.0,7.1,314.0,1.0
2,2018-03-01 11:00:00,10.0,-2.0,60.0,6.7,323.0,1.0
3,2018-03-01 11:00:00,13.0,-2.0,55.0,6.7,336.0,1.0
4,2018-03-01 11:00:00,16.0,-4.0,55.0,5.5,339.0,1.0
...,...,...,...,...,...,...,...
162203,2021-03-01 08:00:00,52.0,7.0,40.0,3.2,187.0,1.0
162204,2021-03-01 08:00:00,55.0,8.0,40.0,4.5,217.0,1.0
162205,2021-03-01 08:00:00,58.0,5.0,55.0,2.2,210.0,1.0
162206,2021-03-01 08:00:00,61.0,1.0,80.0,1.9,164.0,1.0
162207,2021-03-01 08:00:00,64.0,1.0,80.0,2.1,152.0,1.0

In [6]:
# 울산시 데이터
us_fcst = pd.read_csv("./ulsan_fcst_data.csv")
us_sun = pd.read_csv("./us_sunlight.csv")
us_fcst

,Forecast time,forecast,Temperature,Humidity,WindSpeed,WindDirection,Cloud
0,2018-03-01 11:00:00,4.0,8.0,20.0,14.0,298.0,2.0
1,2018-03-01 11:00:00,7.0,4.0,20.0,4.3,298.0,2.0
2,2018-03-01 11:00:00,10.0,3.0,30.0,1.9,309.0,2.0
3,2018-03-01 11:00:00,13.0,0.0,40.0,1.5,318.0,2.0
4,2018-03-01 11:00:00,16.0,-1.0,45.0,1.8,308.0,2.0
...,...,...,...,...,...,...,...
162203,2021-03-01 08:00:00,52.0,9.0,45.0,3.1,83.0,3.0
162204,2021-03-01 08:00:00,55.0,9.0,45.0,3.0,111.0,3.0
162205,2021-03-01 08:00:00,58.0,8.0,55.0,2.2,122.0,3.0
162206,2021-03-01 08:00:00,61.0,6.0,65.0,0.9,131.0,3.0
162207,2021-03-01 08:00:00,64.0,4.0,80.0,0.7,188.0,3.0

In [7]:
dj_sun = dj_sun.rename(columns={dj_sun.columns[0]:'Forecast time'})
us_sun = us_sun.rename(columns={us_sun.columns[0]:'Forecast time'})
us_sun

             Forecast time   일사   일조
0      2018-03-01 00:00:00  0.0  0.0
1      2018-03-01 01:00:00  0.0  0.0
2      2018-03-01 02:00:00  0.0  0.0
3      2018-03-01 03:00:00  0.0  0.0
4      2018-03-01 04:00:00  0.0  0.0
...                    ...  ...  ...
27043  2021-03-31 19:00:00  0.0  0.0
27044  2021-03-31 20:00:00  0.0  0.0
27045  2021-03-31 21:00:00  0.0  0.0
27046  2021-03-31 22:00:00  0.0  0.0
27047  2021-03-31 23:00:00  0.0  0.0

[27048 rows x 3 columns]

In [8]:
dj_fcst_ = pd.merge(dj_fcst, dj_sun, how="outer", on="Forecast time")
us_fcst_ = pd.merge(us_fcst, us_sun, how="outer", on="Forecast time")
us_fcst_

,Forecast time,forecast,Temperature,Humidity,WindSpeed,WindDirection,Cloud,일사,일조
0,2018-03-01 11:00:00,4.0,8.0,20.0,14.0,298.0,2.0,0.0,0.983333
1,2018-03-01 11:00:00,7.0,4.0,20.0,4.3,298.0,2.0,0.0,0.983333
2,2018-03-01 11:00:00,10.0,3.0,30.0,1.9,309.0,2.0,0.0,0.983333
3,2018-03-01 11:00:00,13.0,0.0,40.0,1.5,318.0,2.0,0.0,0.983333
4,2018-03-01 11:00:00,16.0,-1.0,45.0,1.8,308.0,2.0,0.0,0.983333
...,...,...,...,...,...,...,...,...,...
180483,2021-03-31 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000
180484,2021-03-31 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000
180485,2021-03-31 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000
180486,2021-03-31 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000
180487,2021-03-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000

In [9]:
dj_fcst_ = dj_fcst_.dropna()
us_fcst_ = us_fcst_.dropna()
us_fcst_

,Forecast time,forecast,Temperature,Humidity,WindSpeed,WindDirection,Cloud,일사,일조
0,2018-03-01 11:00:00,4.0,8.0,20.0,14.0,298.0,2.0,0.0,0.983333
1,2018-03-01 11:00:00,7.0,4.0,20.0,4.3,298.0,2.0,0.0,0.983333
2,2018-03-01 11:00:00,10.0,3.0,30.0,1.9,309.0,2.0,0.0,0.983333
3,2018-03-01 11:00:00,13.0,0.0,40.0,1.5,318.0,2.0,0.0,0.983333
4,2018-03-01 11:00:00,16.0,-1.0,45.0,1.8,308.0,2.0,0.0,0.983333
...,...,...,...,...,...,...,...,...,...
162203,2021-03-01 08:00:00,52.0,9.0,45.0,3.1,83.0,3.0,0.0,0.000000
162204,2021-03-01 08:00:00,55.0,9.0,45.0,3.0,111.0,3.0,0.0,0.000000
162205,2021-03-01 08:00:00,58.0,8.0,55.0,2.2,122.0,3.0,0.0,0.000000
162206,2021-03-01 08:00:00,61.0,6.0,65.0,0.9,131.0,3.0,0.0,0.000000
162207,2021-03-01 08:00:00,64.0,4.0,80.0,0.7,188.0,3.0,0.0,0.000000

In [10]:
dj_fcst_.to_csv('dj_fcst.csv', mode='w', encoding='utf-8-sig', index=False)
us_fcst_.to_csv('us_fcst.csv', mode='w', encoding='utf-8-sig', index=False)