In [1]:
import pandas as pd
import numpy as np
from glob import glob

In [2]:
path = "./data/"
files = sorted(glob(path+"*.csv"))
files

['./data\\dj_2018 (1).csv',
 './data\\dj_2018 (2).csv',
 './data\\dj_2018 (3).csv',
 './data\\dj_2018 (4).csv',
 './data\\dj_2018 (5).csv',
 './data\\dj_2018 (6).csv',
 './data\\dj_2018 (7).csv',
 './data\\dj_2018 (8).csv',
 './data\\dj_2018 (9).csv',
 './data\\dj_2018_ (10).csv',
 './data\\dj_2019 (1).csv',
 './data\\dj_2019 (2).csv',
 './data\\dj_2019 (3).csv',
 './data\\dj_2019 (4).csv',
 './data\\dj_2019 (5).csv',
 './data\\dj_2019 (6).csv',
 './data\\dj_2019 (7).csv',
 './data\\dj_2019 (8).csv',
 './data\\dj_2019 (9).csv',
 './data\\dj_2019_ (10).csv',
 './data\\dj_2019_ (11).csv',
 './data\\dj_2019_ (12).csv',
 './data\\dj_2020 (1).csv',
 './data\\dj_2020 (2).csv',
 './data\\dj_2020 (3).csv',
 './data\\dj_2020 (4).csv',
 './data\\dj_2020 (5).csv',
 './data\\dj_2020 (6).csv',
 './data\\dj_2020 (7).csv',
 './data\\dj_2020 (8).csv',
 './data\\dj_2020 (9).csv',
 './data\\dj_2020_ (10).csv',
 './data\\dj_2020_ (11).csv',
 './data\\dj_2020_ (12).csv',
 './data\\dj_2021 (1).csv',
 './data\\dj_2021 (2).csv',
 './data\\dj_2021 (3).csv']

In [3]:
dj_fcst_ = pd.DataFrame()
dj_fcst_['일시'] = pd.date_range(start="2018-03-02 00:00:00", end='2021-03-01 23:00:00', freq='H')
dj_fcst_.head()

                   일시
0 2018-03-02 00:00:00
1 2018-03-02 01:00:00
2 2018-03-02 02:00:00
3 2018-03-02 03:00:00
4 2018-03-02 04:00:00

In [4]:
dj_fcst_df = pd.DataFrame()
for i in files:
    dj_fcst_month = pd.read_csv(i, encoding='euc-kr')
    dj_fcst_month = dj_fcst_month[['일시', '일사(MJ/m^2)', '일조(Sec)']]
    dj_fcst_month['일시'] = pd.to_datetime(dj_fcst_month['일시'])
    dj_fcst_month = dj_fcst_month.rename(columns={dj_fcst_month.columns[1]:'일사', dj_fcst_month.columns[2]:'일조'})
    dj_fcst_month['일조'] = dj_fcst_month['일조']/(60*60)
    dj_fcst_df = pd.concat([dj_fcst_df, dj_fcst_month])
dj_fcst_df

                       일시     일사         일조
0     2018-03-01 00:01:00   0.00   0.000000
1     2018-03-01 00:02:00   0.00   0.000000
2     2018-03-01 00:03:00   0.00   0.000000
3     2018-03-01 00:04:00   0.00   0.000000
4     2018-03-01 00:05:00   0.00   0.000000
...                   ...    ...        ...
44616 2021-03-31 23:56:00  23.04  10.883333
44617 2021-03-31 23:57:00  23.04  10.883333
44618 2021-03-31 23:58:00  23.04  10.883333
44619 2021-03-31 23:59:00  23.04  10.883333
44620 2021-04-01 00:00:00  23.04  10.883333

[1617481 rows x 3 columns]

In [5]:
dj_fcst = pd.merge(dj_fcst_df, dj_fcst_, on="일시", how="inner")
dj_fcst

                       일시     일사   일조
0     2018-03-02 00:00:00  17.11  9.4
1     2018-03-02 01:00:00   0.00  0.0
2     2018-03-02 02:00:00   0.00  0.0
3     2018-03-02 03:00:00   0.00  0.0
4     2018-03-02 04:00:00   0.00  0.0
...                   ...    ...  ...
26200 2021-03-01 19:00:00   1.41  0.0
26201 2021-03-01 20:00:00   1.41  0.0
26202 2021-03-01 21:00:00   1.41  0.0
26203 2021-03-01 22:00:00   1.41  0.0
26204 2021-03-01 23:00:00   1.41  0.0

[26205 rows x 3 columns]

In [6]:
dj_fcst.to_csv('dj_sunlight.csv', mode='w', encoding='utf-8-sig', index=False)